@font-face {
    font-family: "Norse";
    src: url("./fonts/norse-bold-webfont.woff") format("woff"),
         url("./fonts/norse-bold-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ececec;
    color: #111;
    font-size: 1rem;
}

p,
input,
label {
    font-family: inherit;
    font-size: 100%;
}

.main-container {
    display: flex;
}

.images {
    position: relative;
    flex: 0 0 30%;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.odin-logo,
.photo-credits {
    position: absolute;
    color: white;
}

.odin-logo {
    font-family: "Norse", sans-serif;
    background-color: #00000080;
    width: 100%;
    top: 21.5%;
    height: 15%;
    text-align: center;
}

.odin {
    font-size: 5.8rem;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 45%;
}

.odin::before {
    content: "";
    background-image: url("./images/odin-lined.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    position: absolute;
    right: 78%;
    top: -17%;
}

.photo-credits {
    font-size: .9rem;
    position: absolute;
    bottom: 1%;
    left: 33%;
    color: #fffffffd;
}

a {
    color: #ffffffed;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
}

.top-paragraph,
.bottom-paragraph {
    flex: 0 0 35%;
}

.form {
    flex: 0 0 30%;
    background-color: #fefefe;
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 15px 10px -10px #bbb;
    padding-top: 1%;
}

.top-paragraph,
.bottom-paragraph,
.form {
    padding-left: 3%;
}

.top-paragraph,
.bottom-paragraph {
    padding-top: 7%;
}

.top-paragraph > p,
.form > p {
    font-family: sans-serif;
    font-size: 1.7rem;
    font-weight: 590;
    color: #333;
}

.top-paragraph > p:last-child {
    margin-top: 3%;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20%;
}

form > div {
    flex: 0 0 50%;
    margin-top: 3%;
}

label,
input {
    display: block;
}

label {
    font-size: .8rem;
    font-weight: bold;
    color: #555;
    letter-spacing: .1rem;
}

input {
    width: 250px;
    height: 33px;
    padding-left: 10px;
}